@use "@/styles/mixins" as *;

.btn {
  transition:
    color var(--btn-transition),
    background-color var(--btn-transition),
    border-color var(--btn-transition),
    transform var(--transition-scale);
  position: relative;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-family: var(--font-heading);
  line-height: 1;
  border-radius: var(--btn-radius);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  height: var(--btn-height);
  padding-inline: var(--btn-padding-x);
  justify-content: center;
  text-align: center;

  span {
    transition: var(--btn-transition);
    position: relative;
    z-index: 5;
    left: 0;
  }

  .circleSvg {
    transition: var(--btn-transition);
    position: absolute;
    right: -1.75em;
    width: 4em;
    animation-play-state: paused;
    stroke-width: 9;
    overflow: visible;
    top: 35%;
  }

  &:active {
    transform: scale(0.95);
  }

  &.circle {
    span {
      margin-right: 1.25em;
    }

    @include is-hover {
      .circleSvg {
        animation: rotate 2s linear infinite;
        animation-play-state: running;
        width: 100%;
        stroke-width: 80 !important;
        right: 0;
      }

      span {
        left: 0.625em;
      }
    }
  }

  &.secondary {
    --btn-bg: transparent;
    --btn-color: var(--text);
    border: 1px solid oklch(from var(--text) l c h / 0.15);

    @include is-hover {
      background-color: var(--text);
      color: var(--white);
      border-color: var(--text);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  width: 100%;
  gap: var(--size-4);

  &.column {
    flex-direction: column;
  }

  @include max($responsive) {
    &:not(.column) {
      & > * {
        flex: 1 1 0;
      }
    }

    &.column {
      & > * {
        width: 100%;
      }
    }
  }
}
