dist/
node_modules/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/gradle/
android/gradlew
android/gradlew.bat
android/gradle.properties
