@use "@/styles/mixins" as *;

.heading {
  h2,
  h1 {
    @include fs(40px, 24, 128px);
    line-height: 1.05;
    margin-top: var(--size-10);

    & + .paragraph {
      margin-top: var(--size-6);
    }
  }
}
