@charset "UTF-8";

@use "reset";
@use "colors";
@use "easing";
@use "variables";
@use "mixins" as *;

html {
  background-color: var(--body);
  color: var(--text);
  font-size: calc(15px + 1 * (100vw - 320px) / 1080);
  line-height: 1.15;
  @include no-scrollbar;
  @include selection(oklch(from var(--text) l c h / 0.85), var(--white));

  &.is-resizing {
    *,
    *::before,
    *::after {
      transition: none !important;
    }
  }
}

body {
  font-weight: 500;
  font-family: var(--font-main);
  font-feature-settings: "salt" on;
}

svg {
  fill: transparent;
}

img {
  @include user-select;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
